<h1>{{title}}</h1>
<div>{{name}}</div>

<div>{{getyourname(10,3)}}</div>
<div>{{namingdata()}}</div>

<div class="name">{{details.name}} {{details.role}}</div>
<div>the addition result is  {{a+b}}</div>

<div>{{prsentUrl}}</div>
<button mat-button>Click Me</button>

<app-login></app-login>
<app-register></app-register>
<app-profile></app-profile>

<button mat-button color="primary" >Primary</button>

<button (click)=" dataalert(2)">sdfssds</button>



<button mat-button color="accent">Accent</button>

Name:<input type="text" (keyup)="obtaindata($any($event.target).value)">
<h1>{{yourname}}</h1>

value1: <input type="text" #num1[value]="" >
value1: <input type="text" #num1[value]=""  >
<button (click)="calculate(num1,num2)">sum</button>
<h1>{{sum}}</h1>

Enterdata:<input type="text" #txt>
<button (click)="eventhandling(txt.value)">submit</button>








<!-- <router-outlet></router-outlet> -->
